.wrapper{
	position: relative;
	overflow: hidden;
}

.main-title{
	display: block;
	font-size: 30px;
	height: 20%;
	width: 100%;
	text-align:center;
}

.main-text{
	position: relative;
	height: 80%;
	width: 20%;
	padding: 2px;
	/*margin: 3px;*/  - /*margin-a не се смята в border-box-a , затова се счупват %те width*/
	font-size: 12px;
	box-sizing:border-box;
	float: left;
}

img{
	display: block;
	width: 100%;
}

.img{
	position: relative;
	border: 2px;
	height: 80%;
	width: 40%;
	box-sizing: border-box;
	float: left;
}

.sidebar{
	position: relative;
	border: 2px;
	height: 80%;
	width: 20%;
	box-sizing:border-box;
	float: right;

}

.side-columns-hidden .sidebar{
	display: none;
}

.side-columns-hidden .main-text:nth-child(1){
	display: none;
}

.side-columns-hidden .main-text:nth-child(2){
	width: 30%
}

.side-columns-hidden .img {
	width: 70%;
}

div:after{ /*след всеки див се clear-ва*/
	content: ""; /*след съдържанието на див-а сложи никакво съдържание /празен стринг/*/
	clear: both;
}