a.link#link-id{
	color: red !important;
}


/*коментари :)*/
.link{
	color: #000000;
}

.link .link-subtext{
	color: #c1c1c1;
}

.link .test{
	color:green;
}

/* > - селектирай всички първи деца в елемента*/
.link > .link-subtext{
	color: red;
}

/*  намери клас линк с елемент в него клас тест и намери следващия 
елемент с клас тест и му приложи пропъртито (всички, освен
първия ще имат това свойство) */
.link .test + .test{
	color: green;
}


/* CSS 3 */
/* 	.test:nth-clild(odd)
	.test:nth-clild(even)
	.test:nth-clild(2n+1) */
.test:nth-clild(2) {
	color: #000000;
}

.test:nth-last-clild(2){
	color: #000000;
}

.link .test ~ span {
	color: red !important;
}
