body { margin: 0; padding: 0;}

.main-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 480px;
}

.pic-box, .small-pic-box{
	position: relative;
	height: auto;
	min-height: 273px;
	width: 36%;
	margin: 0 1% 1% 0;
	float: left;
}

.small-pic-box{
	width: 31% !important;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.pic-box a, .small-pic-box a {	
	width: 100%;
	position: absolute; /*if the position is absolute, there is no need of padding , only top and bottom pixels*/
	display: block;
	bottom: 15%;
	left: 15%;
}

.text{
	
	/*display: inline; ?block or inline?*/
	font: 700 2.125em 'Lato', sans-serif; /* shortcut for font : 700 == bold*/ 
	color: #fff;
	text-transform: uppercase;
}

#topworkz{
	background: url("images/worktop.jpg") no-repeat 0 0 /cover;  /*different backgroup properties*/
}

#joint{
	background: url("images/joint.jpg") no-repeat 0 0 / cover;
}

#market{
	background: url("images/market.jpg")  no-repeat 0 0 / cover;
	margin-right: 0 !important;
}

#worktop{
	background: url("images/worktop.jpg")  no-repeat 0 0 / cover;
}

#label{
	background: url("images/label.jpg")  no-repeat 0 0 / cover;
}

#kyiv{
	background: url("images/kyiv.jpg")  no-repeat 0 0 / cover;
	margin-right: 0 !important;
}


/*resizing  / padding-bottom*/