.wrapper{
	position: relative;
	display: block;
	overflow: hidden;
}

.float{
	position: relative;
	display: block;
	float: left;
	box-sizing: border-box;
}

.big-column{
	width: 50%;
	padding: 10px;
	height: 500px;
	background: #000000
}

.small-column{
	width: 25%;
	padding: 10px;
	height: 250px;
}

.content{
	width: 100%;
	height: 500px;
	background: #c1c1c1;
}
